[submodule "src/cpp/contrib/googletest"]
	path = src/cpp/contrib/googletest
	url = https://code.hashdata.xyz/cloudberry/googletest
[submodule "src/cpp/contrib/zstd"]
	path = src/cpp/contrib/zstd
	url = https://code.hashdata.xyz/cloudberry/lib_zstd.git
	branch = v1.5.5
[submodule "src/cpp/contrib/cpp-stub"]
	path = src/cpp/contrib/cpp-stub
	url = https://code.hashdata.xyz/cloudberry/cpp-stub.git
