# Compiled Object files
**/*.so
**/*.o
**/*.lai
**/*.la
**/*.a
**/*.lib
# vs-code
**/.vscode
# OSX
**/.DS_Store 
Thumbs.db

# Temp files dir
.tmp/**
build*/**
clang-tidy.result
# pb
**/*.pb.h
**/*.pb.cc

# Executables
*.out
!src/data/expected/*.out
